<% provide(:title, "New Tournament") %>

<h1>New Tournament</h1>

<%= form_for(@tournament) do |f| %>
	<%= render 'shared/error_messages', object: @tournament %>

	<%= f.label :name %>
	<%= f.text_field :name, class: 'form-control' %>

	<%= f.label :multiplier %>
	<%= f.radio_button :multiplier, 1 %> 1 
	<%= f.radio_button :multiplier, 2 %> 2
	<%= f.radio_button :multiplier, 3 %> 3

	<%= f.submit "Add tournament", class: "btn btn-primary" %>

<% end %>