<% provide(:title, "New Tournament") %>

<h1>New Tournament</h1>

<%= form_for(@tournament) do |f| %>
	<%= render 'shared/error_messages', object: @tournament %>

	<%= f.label :name %>
	<%= f.text_field :name, class: 'form-control' %>

	<%= f.label :multiplier %>
	<%= f.radio_button :multiplier, 1 %><%= f.label :multiplier, '  1' %>
	<%= f.radio_button :multiplier, 2 %><%= f.label :multiplier, '  2' %>
	<%= f.radio_button :multiplier, 3 %><%= f.label :multiplier, '  3' %>
	<%= f.radio_button :multiplier, 4 %><%= f.label :multiplier, '  4' %>

	<%= f.submit "Add tournament", class: "btn btn-primary", :style => "display:block" %>

<% end %>