<% provide(:title, "New medal") %>

<h1>New Medal</h1>

<%= form_for(@medal) do |f| %>
	<%= render 'shared/error_messages', object: @medal %>

	<%= f.label :competitor_id, "Competitor  " %>
	<%= f.collection_select :competitor_id, Competitor.all, :id, :name, class: 'form-control' %>
	<br>

	<%= f.label :tournament_id, "Tournament  " %>
	<%= f.collection_select :tournament_id, Tournament.all, :id, :name, class: 'form-control' %>
	<br>

	<div class='control-group'>
		<%= f.label :value, "Place" %>
		<%= f.radio_button :value, 9, class: "radio" %><%= f.label :value, 'Gold' %>
		<%= f.radio_button :value, 5, class: "radio" %><%= f.label :value, 'Silver' %>
		<%= f.radio_button :value, 3, class: "radio" %><%= f.label :value, 'Bronze' %>
		<br>
	</div>

	<div class='control-group', style="padding-top: 10px;">
		<%= f.label :absolute %>
		<%= f.check_box :absolute %>
	</div>
	
	<%= f.submit "Add medal", class: "btn btn-primary", :style => "display:block" %>

<% end %>	

